* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    width: 100%;
}

header {
    width: 100%;
    height: 200px;
    /* border: solid 7px; */
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10.5rem;
    padding-right: 10rem;
    /* border: solid black 1px; */
    margin-bottom: 4rem;
}

.logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}

.logo img {
    width: 8rem;
    height: 2rem;
}

.logo img:hover {
    cursor: pointer;
}

.logo h1 {
    width: 100%;
    height: 100%;
    font-size: 3.5rem;
}

.hamburger {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 3rem;
}

.ham {
    width: 4rem;
    height: 4rem;
    /* padding-right: 4rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger svg {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.ham:hover {
    background-color: rgba(128, 128, 128, 0.134);
}

#caroo {
    width: 100%;
    height: 70vh;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.whole-caro {
    width: 80%;
    height: 70vh;
    /* border: 2px solid yellow; */
    position: absolute;
    z-index: 500;
}

.owl-carousel {
    width: 100%;
    height: 100%;
}

.slide {
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    /* border: 2px solid green; */
}

.slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* border: 2px solid red; */
}

.slide img {
    height: 100%;
    width: 100%;
}

.owl-dots {
    width: fit-content;
    text-align: center;
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.owl-dots span {
    width: 20px !important;
    height: 20px !important;
}

.owl-dots button {
    border: none !important;
    outline: none !important;
}

.owl-nav button {
    border: none !important;
    outline: none !important;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 48%;
    transform: translatey(-50%);
    color: white !important;
    font-size: 100px !important;
    font-weight: bolder !important;
    background: none !important;
    padding: 6rem !important;
}

.owl-prev {
    left: 1%;
}

.owl-next {
    right: 1%;
}

.owl-next span {
    padding-right: 4rem !important;
    font-size: 13rem;
}

.left-block,
.right-block {
    width: 10%;
    height: 5rem;
}

.right-block {
    background-color: black;
    position: relative;
    right: -27.5%;
    width: 10%;
    z-index: 0;
}

.left-block {
    background-color: #244AC2;
    position: relative;
    left: -28%;
    top: 0;
    z-index: 999;
    width: 35%;
    /* border: 2px solid black; */
}

.left-text {
    width: 100%;
    height: 100%;
    /* transition: width 2s; */
    /* right: 0; */
    text-wrap: wrap;
    font-size: 15px;
    color: white;
    /* transition-duration: 2s; */
    padding: 1.8rem;
    padding-right: 3.5rem;
    text-align: right;
    /* border: 2px solid red; */
}


#para {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.whole-para {
    width: 77%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    /* border: 2px solid red; */
}

.left {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    flex-wrap: wrap;
}

.right {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-bottom: 2rem;
    /* padding-right: 2rem; */
}

.svgs svg {
    width: 45px;
    height: 45px;
}

.down {
    margin-bottom: 0.5rem;
}



.container {
    width: 90%;
    height: 100%;
    margin-top: 2rem;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid red; */
    width: 85%;
    gap: 1rem;
    /* display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    padding-left: 2rem; */
}

.card {
    /* width: 100px; */
    height: 220px;
    flex: 1 0 140px;
}

.card-head {
    width: 100%;
    height: 130px;
    background-color: #061C2C;
    padding-left: 1rem;
}

.links {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    width: 157px;
    height: 30px;
    background-color: #244AC2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: none;
}

.buttons:hover {
    background-color: #101f51;
    cursor: pointer;
}

.card-head svg {
    width: 3rem;
    height: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.text {
    width: 7rem;
    height: 100%;
    flex-wrap: wrap;
    min-width: 49%;
    color: white;
}

.buttons p {
    font-size: 9px;
    color: white;
}

.buttons svg {
    width: 23px;
    height: 23px;
}

@media (width >=1500px) {
    /* body{
        visibility: hidden;
    } */

    nav {
        height: 15rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar {
        padding-left: 0;
        padding-right: 0;
        display: flex;
        gap: 4rem;
        height: 100%;
    }

    .logo img {
        width: 15rem;
        height: 58px;;
    }

    .nav-logo {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0;
    }

    .logo {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 4rem;
    }

    .whole-ham {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-left: 4rem;
    }

    .hamburger {
        width: 50%;
        height: 100%;
        padding-right: 0;
        padding-left: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ham {
        padding-right: 0;
        height: 8rem;
        width: 4rem;
    }

    .hamburger svg {
        width: 6rem;
        height: 6rem;
    }

    #caroo {
        height: 60vh;
    }

    .whole-caro {
        height: 60vh;
    }



    .slide-1,
    .slide-2,
    .slide-3,
    .slide-4 {
        height: 60vh;
    }

    .owl-next span {
        padding-right: 5rem !important;
        font-size: 12rem !important;
    }

    .owl-dots span {
        width: 27px !important;
        height: 27px !important;
    }

    .left-block,
    .right-block {
        height: 120px;
    }

    .left-block {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .left-text {
        width: 25rem;
        display: flex;
        justify-content: start;
        align-items: center;
        text-align: start;
        font-size: 18px;
        padding: 0;
        padding-left: 3rem;
    }

    .whole-para {
        /* padding-top: 3rem; */
        margin-bottom: 3rem;
        height: 100%;
        padding-left: 0;
    }


    .left {
        font-size: 25px;
        width: 100%;
    }

    .right {
        display: flex;
        justify-content: end;
        align-items: center;
        height: 100%;
        width: 70%;
        padding-bottom: 8rem;
        padding-top: 1rem;
    }

    .svgs {
        width: 100%;
        height: 100%;
    }

    .svgs svg {
        width: 55px;
        height: 55px;
    }

    .container {
        width: 90%;
        height: 100%;
        margin-top: 1rem;
    }

    .cards {
        height: 300px;
    }

    .card {
        width: 300px;
        height: 300px;
    }

    .card-head {
        width: 100%;
        height: 50%;
    }

    .card-head svg {
        width: 3rem;
        height: 3rem;
    }

    .card-head h3 {
        font-size: 21px;
    }

    .buttons {
        height: 40px;
        width: 15rem;
    }

    .links {
        width: 100%;
        height: 50%;
        gap: 0.5rem;
    }

    .links svg {
        width: 35px;
        height: 35px;
    }


    .buttons p {
        font-size: 12px;
        color: white;
    }

    .right img {
        margin: 0.5rem;
    }
}

@media (1001px <=width <=1200px) {
    .whole-para {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 3rem;
    }
}

@media (501px <=width <=1000px) {
    .navbar {
        padding-left: 0;
        padding-right: 0;
        display: flex;
        gap: 4rem;
    }

    .logo img {
        width: 50px;
        height: 15px;
    }

    .nav-logo {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 4rem;
    }

    .logo {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .whole-ham {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hamburger {
        width: 50%;
        height: 100%;
        padding-right: 0;
        padding-left: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ham {
        padding-right: 0;
    }

    .hamburger svg {
        width: 2rem;
        height: 2rem;
    }

    #caroo {
        width: 100%;
        height: 40vh;
    }

    .whole-caro {
        width: 80%;
        height: 40vh;
    }

    .slide {
        width: 100%;
        height: 40vh;
    }

    .left-block {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .left-text {
        width: 10.5rem;
        height: 100%;
        text-wrap: wrap;
        font-size: 11px;
        color: white;
        padding: 0;
        padding-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
    }

    .whole-para {
        width: 80%;
        height: 100%;
        flex-direction: column;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 2rem;
    }

    .owl-next span {
        padding-right: 2rem !important;
        font-size: 7rem !important;
    }

    .owl-dots span {
        width: 18px !important;
        height: 18px !important;
    }

    .left {
        width: 100%;
        height: 100%;
        font-size: 18px;
        text-align: left;
        padding-left: 0;
    }

    .right {
        width: 100%;
        height: 100%;
        padding-right: 0;
        padding-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .svgs svg {
        width: 50px;
        height: 50px;
    }

    .container {
        width: 100%;
        height: 100%;
        margin-top: 0;
    }

    .cards {
        padding-left: 0;
        width: 80%;
    }


    .card {
        width: 100%;
        height: 400px;
    }

    .card-head {
        width: 100%;
        height: 50%;
        padding-left: 1.5rem;
        padding-top: 0.7rem;
    }

    .card-head img {
        width: 2.5rem;
        height: 2.5rem;
    }

    .card-head h3 {
        font-size: 25px;
    }

    .buttons {
        height: 60px;
        width: 155px;
    }

    .links {
        width: 100%;
        height: 50%;
    }

    .links img {
        width: 30px;
        height: 30px;
    }


    .buttons p {
        font-size: 15px;
        color: white;
    }



}

@media (width <=500px) {

    .navbar {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #caroo {
        width: 100%;
        height: 30vh;
    }

    .whole-caro {
        width: 80%;
        height: 30vh;
    }

    .slide {
        width: 100%;
        height: 30vh;
    }

    .owl-dots span {
        width: 15px !important;
        height: 15px !important;
    }

    .owl-next {
        top: 38%;
    }

    .left-text {
        width: 100%;
        height: 100%;
        text-wrap: wrap;
        font-size: 10px;
        color: white;
        padding: 1.7rem;
        padding-right: 0;
        text-align: left;
    }

    .whole-para {
        width: 80%;
        height: 100%;
        flex-direction: column;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 2rem;
        /* border: 2px solid black; */
    }

    .left {
        width: 100%;
        height: 100%;
        font-size: 25px;
        text-align: left;
        padding-left: 1rem;
    }

    .right {
        width: 100%;
        height: 100%;
        padding-right: 0;
        padding-top: 2rem;
        /* border: 2px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .svgs {
        width: 100%;
        height: 100%;
    }

    .svgs svg {
        width: 35px;
        height: 35px;
    }

    .container {
        width: 100%;
        height: 100%;
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .cards {
        width: 80%;
    }

    .card {
        width: 330px;
        height: 270px;
    }

    .card-head {
        width: 100%;
        height: 50%;
        /* background-color: red; */
    }

    .card-head h3 {
        font-size: 18px;
    }

    .card-head img {
        width: 32px;
        height: 32px;
    }

    .buttons {
        height: 50px;
    }

    .links {
        width: 100%;
        height: 50%;
    }


    .buttons p {
        font-size: 10px;
        color: white;
    }
}

@media (200px <=width <=500px) {
    .navbar {
        padding-left: 0;
        padding-right: 0;
        display: flex;
        gap: 4rem;
    }

    #caroo {
        width: 100%;
        height: 20vh;
    }

    .whole-caro {
        width: 80%;
        height: 20vh;
    }

    .slide {
        width: 100%;
        height: 20vh;
    }

    .logo img {
        width: 50px;
        height: 15px;
    }

    .nav-logo {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .logo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hamburger {
        height: 100%;
        width: 100%;
        padding-right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ham {
        padding-right: 0;
    }

    .hamburger svg {
        width: 17px;
        height: 17px;
    }

    .owl-next span {
        padding-right: 2rem !important;
        font-size: 5rem;
    }

    .owl-dots span {
        width: 12px !important;
        height: 12px !important;
    }

    .left-block {
        height: 55px;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .right-block {
        height: 55px;
    }

    .svgs {
        width: 100%;
        height: 100%;
    }

    .svgs svg {
        width: 30px;
        height: 30px;
    }

    .left-text {
        padding: 0;
        padding-top: 0;
        padding-left: 1rem;
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 6.5px;
        width: 100px;
        height: 100%;
        /* border: 2px solid red; */
    }

    .card {
        width: 100%;
    }

    .card-head h3 {
        font-size: 16px;
    }

    .text {
        width: 70%;
    }

    .cards {
        width: 80%;
    }

    .left {
        font-size: 15px;
        padding-left: 0;
    }

    .links {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
        width: 100%;
    }

}